
{% extends 'pass/layouts/main.html' %}
{% block title %}
    Success
{% endblock title %} 

{% block content %}
<style>
   
    .container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #f44336;
    }

    p {
        color: #333;
    }
</style>
</head>
<body>
<div class="container">
    <h1>403 Forbidden</h1>
    <p>Sorry, you don't have permission to view this page.</p>
</div>
{% endblock content %}

